<!DOCTYPE html>
<html>
  <head>

    <title>Projects | Maine Hacker Club</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Maine Hacker Club Projects"/>
    <meta name="author" content="Maine Hacker Club"/>
    <meta name="keywords" content="Maine Hacking" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="css/style.css" rel="stylesheet" />

  </head>

  <body>

    <header>
      <h1>Maine Hacker Club Projects</h1>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script>var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
    
  </body>

</html>
